# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node modules
node_modules/
**/node_modules/

# Environment variables
.env
**/.env
.env.local
.env.development.local
.env.test.local
.env.production.local
frontend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
/build
/dist

# Editor-specific files
.DS_Store
.idea/
.vscode/
*.swp

# Coverage reports
/coverage

# Misc
.pnp
.pnp.js

# Private Keys
**/firebase-adminsdk.json
